
/* Table of Content
==================================================
  # Page Styles
  # Media Queries
  # Font-Face */

/* #Page Styles
================================================== */

  body {
    background: #333;
    color: white;
  }

  h1.logo {
    color: white;
  }

  .container {
    width: 100%;
  }

  .navigation-box-fill {
    height: 8em;  
    background-color: #f5853f;
  }

  .navigation-box-container {
    width: 100%;

    display: table;
    table-layout: fixed;
    text-align: center;
  }

  .navigation-box {
    height: 8em;  

    /* @technique CSS : center align >= IE 8 */
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    /* @technique CSS3 : box-align */
    /* IE 10 */
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: center;

    /* Firefox */
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center; 

    /* Safari, Chrome, and Opera */
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;

    /* W3C */
    display: box;
    box-pack: center;
    box-align: center;

  }
/* #Media Queries
================================================== */

  /* Smaller than standard 960 (devices and browsers) */
  @media only screen and (max-width: 959px) {}

  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 768px) and (max-width: 959px) {}

  /* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px) {

    .logo {
      font-size: 1em;
      line-height: 1.5em;
      margin-bottom: 0;
    }
    .navigation-box-fill.empty {
      display: none;
    }

    .navigation-box-fill {
      height: 1.5em;
      background-color: #eee;
      color: black;
      margin-bottom: 0.15em !important;
    }

    .navigation-box-fill .navigation-box {
      height: 1.5em;
    }

    .navigation-box-fill.selected {
      height: 3em;
      background-color: #f5853f;
      color: white;
    } 

    .navigation-box-fill.selected .navigation-box {
      height: 3em;
    }

    .row {
      margin-bottom: 0;
    }
  }

  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 480px) and (max-width: 767px) {}

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/*  This is the proper syntax for an @font-face file
    Just create a "fonts" folder at the root,
    copy your FontName into code below and remove
    comment brackets */

/*  @font-face {
      font-family: 'FontName';
      src: url('../fonts/FontName.eot');
      src: url('../fonts/FontName.eot?iefix') format('eot'),
           url('../fonts/FontName.woff') format('woff'),
           url('../fonts/FontName.ttf') format('truetype'),
           url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
      font-weight: normal;
      font-style: normal; }
*/