extend layout

block styles
  link(rel="stylesheet", href="vendor/sl-carousel/slCarousel.css")
  link(rel="stylesheet", href="assets/css/index.css")

block scripts

  script(src="vendor/sl-scroller/slScroller.js")
  script(src="vendor/sl-carousel/slCarousel.js")
  
  script(src="app/seraphlab.js")

block content
  
  div(ng-app="seraphlab", ng-controller="SeraphLabCtrl")

    div(id="banner", class="banner")
      div(class="container clearfix")

        div(class="banner-item banner-logo four columns")
          h3(class="logo")
            a(href="#home", sl-scroller, sl-scroller-top-offset-el-id="app.bannerElId") {{app.name}}

        div(class="banner-item nav-item offset-by-four two columns")
          h5 
            a(href="#products", sl-scroller, sl-scroller-top-offset-el-id="app.bannerElId") Products

        div(class="banner-item nav-item two columns")
          h5 
            a(href="#apps", sl-scroller, sl-scroller-top-offset-el-id="app.bannerElId") Apps

        div(class="banner-item nav-item two columns")
          h5 
            a(href="#techniques", sl-scroller, sl-scroller-top-offset-el-id="app.bannerElId") Techniques

        div(class="banner-item nav-item two columns")
          h5 
            a(href="#this", sl-scroller, sl-scroller-top-offset-el-id="app.bannerElId") {this}

    div#home(class="home-wrapper section", ng-controller="HomeCtrl")
      div(class="container clearfix")
        h2(class="label") {{home.label}}


    div#products(class="products-wrapper section clearfix", ng-controller="ProductsCtrl")
      div(class="container clearfix")
        h2(class="label") {{products.label}}
        div(class="products-carousel clearfix", sl-carousel, sl-carousel-items="products.items", sl-carousel-item-offset="products.offset")
          

    div#apps(class="apps-wrapper section clearfix", ng-controller="AppsCtrl")
      div(class="container clearfix")
        h2(class="label") {{apps.label}}
        div(class="apps-carousel clearfix",sl-carousel, sl-carousel-items="apps.items", sl-carousel-item-offset="apps.offset")

    div#techniques(class="techniques-wrapper section clearfix", ng-controller="TechniquesCtrl")
      div(class="container clearfix")
        h2(class="label") {{techniques.label}}
        div(class="techniques-carousel clearfix", sl-carousel, sl-carousel-items="techniques.items", sl-carousel-item-offset="techniques.offset")

    div#this(class="this-wrapper section clearfix", ng-controller="ThisCtrl")
      div(class="container clearfix")
        h2(class="label") {{_this.label}} 
